<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .con{
            display: flex;
            justify-content: space-around;
        }
        .nav{
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;
        }
        .up{
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="con">
    
        <div>
        <h1>Arbotrary</h1>
        <p>This site to track rendomly planeted trees</p>
        </div>
        <div class="supcon">
        <div class="up">
            <a href="/mytree">My Trees</a>
            
            Welcome, {{user.first_name}}
        </div>
        <div class="nav">
            
        <form action="/dashbord" method="post" >
            {% csrf_token %}
        <button type="submit" >Dashbord</button>
    
        </form>
    
        <form action="/logout">
            {% csrf_token %}
             <button type="submit">Logout</button> 
        </form>
    
        </div>
        </div></div>

<div class="add">
        <h1>Arbotrary Plant a Tree</h1>
        <form action="/forplantree" method="post">
            {% csrf_token %}
            Specise : <br> <input type="text" name="pecise" > <br>
            Location : <br> <input type="text" name="location" ><br>
            Reason : <br> <input type="text" name="reason" ><br>
            Date Planted : <br> <input type="datetime-local" name="date" ><br>
            <button type="submit">Plant</button>
        </form>


    </div>

</body>
</html>